h3 {
  font-weight: 700;
}
.Log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  gap: 20px;
  justify-content: center;
}
.FORM {
  background-color: rgba(202, 222, 216, 0.345);
  height: 60vh;
  width: 30vw;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10%;
  display: flex;
}

form {
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-label {
  font-weight: 600;
}
.form-control {
  width: 20vw;
}
a {
  color: var(--dark-green);
}
.form-text {
  font-weight: 700;
}
@media screen and (max-width: 990px) {
  form {
    align-items: flex-start !important;
  }
}
