footer {
  background-color: var(--dark-green);
  padding-bottom: 2rem;
}
.foot-content {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}
#footer-logo {
  font-size: 1.4rem;
  font-weight: normal;
}
.title-content {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: column;
  gap: 2.3rem;
  padding-top: 20px;
  align-items: center;
}

.text {
  font-size: 1rem;
  max-width: 19.5rem;
}
.title-content h2 {
  font-size: 1.1rem;
  font-weight: normal;
}
.title-content ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 0.8rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.social-icons a {
  font-size: 1.7rem;
  color: var(--white);
}

.end-foot {
  color: var(--white);
  margin-top: 2rem;
  margin-left: 6.5rem;
}
.end-foot h2 {
  font-size: 1.4rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  .foot-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.title-content ul {
  list-style: none;
}
